@media screen and (max-width: 767px) {
  #main-img {
    background-image: url(http://subtlepatterns.com/patterns/dark_embroidery.png);
  }
}

@media screen and (min-width: 768px) {
  #main-img {
    background-image: url(http://subtlepatterns.com/patterns/dark_embroidery.png);
  }
}
@media (min-width: 992px) {
  #main-img {
    background-image: url(http://subtlepatterns.com/patterns/paisley.png);
  }
}
@media (min-width: 1200px) {
  #main-img {
    background-image: url(http://subtlepatterns.com/patterns/paisley.png);
  }
}
